{% load url from future %}

<h1 id="trq-heading">Torquemada</h1>

<form action="/ask/" method="POST">{% csrf_token %}
	{{ form }}
	<input id="trq-submit-question" type="submit" value="Submit your question">
</form>

{% for question in current_questions %}
<div id="trq-question-{{ question.id }}" class="trq-question">
	
	<h4>{{ question.text }}</h4>
	
	<span class="trq-vote-count">Votes: {{ question.votes }}</span>
	
	<a class="trq-vote-up" href="{% url 'vote' question.id 'up' %}">vote up</a> | 
	<a class="trq-vote-down" href="{% url 'vote' question.id 'down' %}">vote down</a>

</div>
{% endfor %}